.buy-btn{
	margin: 1em 0;
	background-color: var(--accent-secondary);
	border-radius: 8px;
	border: 0cap;
	padding: 0.4em 0.8em;
	color: var(--bg);

	&:hover{
		background-color: var(--accent-secondary-hover);
	}

}

.scrollToTop{
	border: none;
	border-radius: 10px;
	padding: 0.7rem 1rem;
	font-size: 0.95rem;
	font-weight: 500;
	cursor: pointer;
	transition: 0.2s ease;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--accent-primary);
	color: white;
	&:hover{
		background: var(--accent-primary-hover);
	color: var(--bg);
	}
}