header {
	background: var(--bg-soft);
	color: var(--text-h);
	padding: 1em;
	display:flex;
	align-items: center;
	justify-content: space-between;
  }

  header nav {
	display: flex;
	gap: 0.2em;
	flex-direction: column;
	/* padding-bottom: 0.2em; */
  }


  @media (min-width: 600px) {

	/* header {
		padding: 1.5em;
	} */

	header nav {
		flex-direction: row;
		gap: 1em;
	}
  }