
@import './products.css';
@import './product-card.css';
@import './layout.css';
@import './footer.css';
@import './header.css';
@import './home.css';
@import './about.css';
@import './cart.css';
@import './buttons.css';
@import './admin.css';


*,
*::before,
*::after {
	box-sizing: border-box;
}


:root {

		--text: #1F2937;
		--text-h: #0D1127;
		--text-muted: #6B7280;
		--text-inverted: #FFFFFF;

		--bg: #FFFFFF;
		--bg-soft: #F3F4F6;
		--bg-dark: #0D1127;
		--bg-colored-cold-light: rgb(32, 211, 238, 0.2);
		--bg-colored-warm-light: rgb(236, 128, 4, 0.2);


		--border: #E5E7EB;


		--code-bg: #F3F4F6;
		--social-bg: rgba(243, 244, 246, 0.6);


		--accent-primary: #22D3EE;
		--accent-primary-hover: #06B6D4;

		--accent-secondary: #EA7E04;
		--accent-secondary-hover: #d57304;


		--accent-bg: rgba(34, 211, 238, 0.1);
		--accent-border: rgba(34, 211, 238, 0.4);


		--shadow:
		  rgba(0, 0, 0, 0.08) 0 10px 20px -5px,
		  rgba(0, 0, 0, 0.04) 0 4px 8px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
   /*color-scheme: light dark;
  color: var(--text);
  background: var(--bg);*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



/*
@media (prefers-color-scheme: dark) {
  :root {


	  --text: #9CA3AF;
	  --text-h: #F9FAFB;


	  --bg: #111827;
	  --bg-soft: #1F2937;


	  --border: #374151;


	  --code-bg: #1F2937;
	  --social-bg: rgba(31, 41, 55, 0.6);


	  --accent-primary: #22D3EE;
	  --accent-primary-hover: #06B6D4;

	  --accent-secondary: #F59E0B;
	  --accent-secondary-hover: #D97706;


	  --accent-bg: rgba(34, 211, 238, 0.15);
	  --accent-border: rgba(34, 211, 238, 0.5);


	  --shadow:
		rgba(0, 0, 0, 0.5) 0 10px 20px -5px,
		rgba(0, 0, 0, 0.3) 0 4px 10px -2px;
  }





  body {
	background: var(--bg);
	color: var(--text);
  }


  .card {
	background: var(--bg);
	box-shadow: var(--shadow);
	border: 1px solid var(--border);
  }

  .button-primary {
	background: var(--accent-primary);
	color: var(--text-h);
  }

  .button-primary:hover {
	background: var(--accent-primary-hover);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
 */







body {
  margin: 0;
}

#root {
  /* width: 1126px;
  max-width: 100%; */
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  /* color: var(--text-h); */
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}


p {
  margin: 0;
}

/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
