.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	/* border: 1px solid var(--border); */
	border: var(--border);
	border-radius: 8px;
	box-shadow: var(--shadow);
	background: var(--bg-soft);
	max-width: 600px;
	margin: 1em auto;

	.product-card-image {
		max-width: 400px;
		width: 100%;
		height: auto;
		border-radius: 4px;
		object-fit: cover;
	}

	.product-card-name {
		font-size: 1.2rem;
		font-weight: bold;
		color: var(--accent-secondary);
		margin-top: 0.8em;
	}

	.product-card-price {
		font-size: 1em;
		margin-top: 0.5em;
		color: var(--text)
	}

	.product-card-description {
		font-size: 0.9rem;
	}

	.link-go-back {
		font-size: 0.9rem;
		color: var(--accent-primary);
		opacity: 0.8;
		margin-top: 0.6em;


		&:hover {
			color: var(--accent-primary-hover);
		}
	}
}

.product-card-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border: 1px solid var(--border);
	border-radius: 8px;
	box-shadow: var(--shadow);
	background: var(--bg-soft);
	.product-card-preview-name {
		font-size: 1.1rem;
		font-weight: bold;
		color: var(--text-h);

		&:hover {
			color: var(--accent-secondary);
		}
	}


	.product-card-preview-price {
		font-size: 1.1em;
	}

	.link-read-more {
		font-size: 0.9rem;
		color: var(--accent-primary);

		&:hover {
			color: var(--accent-primary-hover);
		}
	}
}
