
.products-page {
	  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.products-h {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-h);

}

.search {
	display: flex;
	justify-content: center;
}
.search input {
	padding: 0.5em 1em;
	border: 1px solid var(--border);
	border-radius: 4px;
	width: 100%;
	max-width: 260px;
	box-sizing: border-box;
}

.products-list {
	display: grid;
	grid-template-columns: auto;
	padding: 1rem;
	gap: 1rem;
	@media (min-width: 520px) {
		grid-template-columns: auto auto;
	}
	@media (min-width: 900px) {
		grid-template-columns: auto auto auto;
	}
}