.products-list {
	display: grid;
	grid-template-columns: auto;
	padding: 1rem;
	gap: 1rem;
	@media (min-width: 600px) {
		grid-template-columns: auto auto;
	}
	@media (min-width: 900px) {
		grid-template-columns: auto auto auto;
	}
}