.products-page {
	padding: 2em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;

	@media (max-width: 599px) {
		padding: 0.4em;
		margin: 1.2em 0;
	}
}

.products-h {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-h);
}

.search {
	display: flex;
	justify-content: center;
	gap: 0.6em;
}
.search input {
	padding: 0.5em 1em;
	border: 1px solid var(--border);
	border-radius: 4px;
	width: 100%;
	max-width: 260px;
	box-sizing: border-box;

	&:hover {
		border: 1px solid var(--accent-primary-hover);
	}
	/* &:active{
		border: 1px solid var(--accent-secondary-hover);

	} */
}

.products-loading{
	margin-top: 2em;
	font-weight: 500;
	color: var(--text);
	font-size: 1.1em;
}
.sort {
	padding: 0.5em 1em;
	border: 1px solid var(--border);
	border-radius: 4px;
	width: 100%;
	max-width: 120px;
	box-sizing: border-box;
	&:hover {
		border: 1px solid var(--accent-primary-hover);
	}
}

.products-list {
	display: grid;
	grid-template-columns: auto;
	padding: 1rem;
	gap: 1rem;
	@media (min-width: 520px) {
		grid-template-columns: auto auto;
	}
	@media (min-width: 900px) {
		grid-template-columns: auto auto auto;
	}
}

.search-no-results {
	margin: 2rm;
}

.product-details {
	margin: 2em;
	color: var(--bg-dark);
}

